<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">School Administration</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" [routerLink]="['']" >
              Home
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/attedance']" >
              Attendance
            </a>
          </li>
      </ul>
    </div>
  </nav>